
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@1,9..144,700&family=Montserrat:wght@500;700&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: hsl(30, 38%, 92%);
	height: 100%;
	width: 100%;
	padding: 5rem;
}

.full-card {
	display: flex;
	flex-direction: row;
	max-width: 800px;
	border-radius: 0.5rem;
}

.card-left {
	max-width: 400px;
	border-radius: 0.5rem 0px 0px 0.5rem;
}

.img {
	max-width: 400px;
	border-radius: 0.5rem 0px 0px 0.5rem;
}

.card-right {
	background-color: hsl(0, 0%, 100%);
	display: flex;
	flex-direction: column;
	padding: 1.5rem;
	border-radius: 0px 0.5rem 0.5rem 0.5px;
}

.card-right p {
	font-size: 14px;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.item-name {
	font-family: 'Fraunces', serif;
}

.prices {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#current-price {
	font-family: 'Fraunces', serif;
	color: hsl(158, 36%, 37%);
	padding-top: 0.5rem;
	padding-right: 1rem;
}

#discounted-price {
	padding-top: 0;
	text-decoration: line-through
}

.btn {
	background-color: hsl(158, 36%, 37%);
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	height: 3rem;
	border-radius: 0.5rem;
	cursor: pointer;
	border: none;
}

.btn:hover {
	background-color: hsl(158, 55%, 71%);
}

.attribution {
	background-color: hsl(30, 38%, 92%);
}





